.a-btn {
  margin: 0;
}

.className {
  font-size: 15px;
}

.classRoom {
  color: rgb(var(--blue-5));
  font-size: 18px;
}

.right {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
