@import '../../../styles//variable.scss';

.shareButton {
  height: auto;
}

.swiperContainer {
  border-radius: 3px;
  box-sizing: border-box;
  height: 170px;
  overflow: hidden;

  > swiper {
    height: inherit;
  }
}

.article {
  @include flex-align-center;

  border-bottom: 1px solid var(--color-border-1);
  padding: 10px 0;
}
