/* stylelint-disable selector-pseudo-class-no-unknown */
@import '../../../styles/variable.scss';

.tableHeader {
  @include flex-justify-between;

  height: 30px;
  padding: 5px;

  :global(.a-btn) {
    @include flex-center;

    min-height: 15px;
    min-width: 15px;
  }
}

.week {
  align-self: center;
}
